<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            margin-bottom: 15px;
        }
        body {
            padding-left: 15px;
        }
    </style>
</head>
<body>
    <h1>Add Bobba!</h1>
    <a href="/">Back</a>
    <form>
        Name <input type="text" placeholder="Ice Bobba"><br>
        Rating <input type="number" placeholder="5"><br>
        From <input type="text" placeholder="China, Taiwan, Tokyo."><br>
        Date of Created <input type="date"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>