<html>
<head>
<style>
body {
    padding-left: 15px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
    <h1>Jualan Bobba Bintang ★★★★★ (+5)</h1>
    <h4>Tanggal Hari ini : 20 Oktober 2020</h4>
    <a href="/">ADD</a><br><br>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rating</th>
                <th>From</th>
                <th>Recipe Created</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ice Bobba Tea</td>
                <td>★★★☆☆ (+3)</td>
                <td>Tokyo</td>
                <td>22 Oktober 2015</td>
                <td><a href="/">Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Hot Bobba Tea</td>
                <td>★☆☆☆☆ (+1)</td>
                <td>Taiwan</td>
                <td>12 Desember 2017</td>
               <td><a href="/">Delete</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ice Marsmallow Milk Tea Bobba</td>
                <td>★★★★★ (+5)</td>
                <td>China</td>
                <td>11 Januari 2020</td>
               <td><a href="/">Delete</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ice Milk Brown Sugar Bobba</td>
                <td>★★★★★ (+5)</td>
                <td>Taiwan</td>
                <td>17 Agustus 2020</td>
               <td><a href="/">Delete</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Hot Sweet Milk Bobba</td>
                <td>★★★★☆ (+4)</td>
                <td>Tokyo</td>
                <td>1 Agustus 2018</td>
               <td><a href="/">Delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>